* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    /*    -moz-osx-font-smoothing: grayscale;*/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.container::before {
    content: '';
    clear: both;
}

.container::after {
    content: '';
    clear: both;
    display: table;
}

#top-nav {
    background-color: #1c1c1c;
    padding: 30px 0px;
}


.logo {
    float: left;
}

.logo img {
    width: 145px;
}

.logo a {
    float: left;
    text-decoration: none;
}


#main-nav {
    margin-top: 10px;
    float: right;
    font-size: 13px;
}

#main-nav ul li {
    /*    list-style-type: none;*/
    display: inline;
}

#main-nav ul li a {
    text-transform: uppercase;
    color: #c4c4c4;
    text-decoration: none;
    padding: 10px 23px;
    font-weight: 700;
}

#main-nav ul li a:hover {
    color: #f5635d;
}

#main-nav li.active a {
    color: #fe6760;
}

/*section*/

#hero {
    padding: 60px;
    font-weight: 300;
    color: #d0d0d0;
    background-color: #1f1f1f;
}

.hero-unit {
    text-align: center;
    font-size: 40px;
    font-weight: 400i;
}

.hero-unit strong {
    color: #d0d0d0;
    font-weight: 900;
}

.hero-unit h1 {
    font-weight: 300;
    margin-bottom: 25px;
}

.hero-unit p {
    color: #d0d0d0;
    font-size: 42px;
    padding-bottom: 30px;
}

.hero-unit i {
    color: #d0d0d0;
    font-weight: 400;
}

button {
    padding: 15px 48px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #f74d4c;
    border: 1px solid transparent;
    font-weight: 700;
    color: white;
    font-size: 14px;
}

/*sercive*/

#service {
    background-color: #f8f8f8;
    /*    height: 400px;*/
    padding: 70px 0;
}

.text-center {
    text-align: center;
}

.text-center img {
    padding-bottom: 15px;
    height: 60px;
}

.collom {
    width: 25%;
    display: inline;
    margin: auto;
    float: left;
    background-color: #f8f8f8;
}

.collom-bawah {
    padding: 20px;
}

.collom-bawah h1 {
    color: #505050;
    padding-bottom: 15px;
    font-size: 18px;

}

.collom-bawah p {
    color: #7c7c7c;
    line-height: 23px;
    font-size: 15px;
}

/*features*/

#featured {
    background-color: #ffffff;
    padding: 70px 0;
    /*    height: 300px;*/
}

.banner {
    text-align: center;
    color: #616161;
}

.banner h1 {
    font-weight: 900;
    padding-bottom: 10px;
    font-size: 30px;
}

.banner p {
    padding-bottom: 55px;
    font-size: 20px;
    font-weight: 300;
}

.nav-button {
    text-align: center;
    padding-bottom: 30px;
}

.nav-button ul li {
    display: inline;
}

.nav-button ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px;
    margin-right: 5px;
    background-color: #f74d4c;
    border-radius: 5px;
    text-transform: uppercase;
}

@media (-webkit-min-device-pixell-ratio: 2),
(min-resolution: 192dpi) {
    .nav-button ul li a {
        font-weight: 900;
    }
}

/*collom-feature*/

.collom-feature {
    float: left;
    padding: 7px 7.4px;
}

.collom-feature .clear img {
    width: 270px;
}

.nav-button li.active-button a {
    background-color: #595959;
}

.nav-button ul li a:hover {
    background-color: #595959;
}

/*footer*/

#footer {
    padding: 70px 0;
    background-color: #252525;
}

.text-centerz {
    text-align: center;
}

.text-centerz h1 {
    font-size: 30px;
    font-weight: 900;
    color: #e0e0e0;
    padding-bottom: 20px;
}

.text-centerz p {
    padding-bottom: 20px;
    color: #bebebe;
    font-weight: 400;
    font-size: 20px;
}

.nav-top ul li {
    display: inline;
    /*    margin-bottom: 60px;*/
    /*        padding-bottom: 20px;*/
    /*    text-align: center;*/
}

.nav-top ul li a {
    text-decoration: none;
    list-style-type: none;
    padding: 10px 15px;
    font-size: 15px;
    color: #bebebe;
    /*    padding-bottom: 50px;*/
}

.nav-top ul li,
.images-phone a img {
    width: 11px;
    height: 12px;
    margin-right: 10px;
}

.nav-top ul li,
.images-location a img {
    width: 9px;
    height: 12px;
    margin-right: 10px;
}

.lock-center {
    text-align: center;
}

.nav-bottom ul li {
    display: inline;
}

.nav-bottom ul li a {
    text-decoration: none;
    list-style-type: none;
}

.nav-bottom ul li a img {
    margin-top: 30px;
    width: 30px;
    height: 30px;
    padding: 2px;
}

/*copy*/

#copy {
    padding: 30px 0;
    background-color: #202020;
}

#copy p {
    text-align: center;
    color: #bebebe;
}
